.github
.gitignore
.vscode
.vscodeignore
*.vsix
DEVELOPMENT.md
dist/**/*.js.map
eslint.config.mjs
node_modules
src
test-workspace
tsconfig.json
webpack.config.js
scripts
tools/**/version.txt
tools/**/target.txt
tools/**/sha256.txt
