.github
.gitignore
.vscode
.vscodeignore
*.vsix
DEVELOPMENT.md
__mocks__/**/*
dist/**/*.js.map
node_modules
src
test-workspace
tsconfig.json
scripts
tools/**/version.txt
tools/**/target.txt
tools/**/sha256.txt
coverage
*.config.{mjs,js,mts,ts}
*.setup.{mjs,js,mts,ts}