__mocks__/**/*
.github
.qlty
.vscode
*.vsix
coverage
dist/**/*.js.map
images/*.pptx
node_modules
scripts
src
test-data
test-workspace
.gitignore
.vscodeignore
DEVELOPMENT.md
test-report.html
tsconfig.json
tools/**/target.txt
tools/**/sha256.txt
*.config.{mjs,js,mts,ts}
*.setup.{mjs,js,mts,ts}