name: TPIP

on:
  pull_request:
    paths:
      - '.github/workflows/tpip.yml'
      - docs/third-party-licenses.json
      - docs/tpip-header.md
      - scripts/tpip-reporter.ts
    branches:
      - main
    
  workflow_dispatch:

jobs:
  report:
    name: Generate report
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn --frozen-lockfile --prefer-offline

      - name: Generate third-party licenses report
        run: yarn run tpip:report

      - name: Commit changes
        run: |
          git config --local user.email "git@github.com"
          git config --local user.name "GitHub Action"
          git add TPIP.md
          git commit -m "Update third-party licenses report [skip ci]"
          git push
